[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
beautifulsoup4 = "*"
regex = "*"
pandas = "*"
tk = "*"
pandastable = "*"
xlrd = "*"
requests = "*"
lxml = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
